<!DOCTYPE html>
<html>
    <body>
        <h1>Sign up</h1>
        <p>Sign up error, 'Login Account' may be already registered.</p>
        <p>
            <form method="post" action="">
                Login Account: <input type="text" name="account" required/><br>
                Login Password: <input type="password" name="password" requierd/><br>
                <br>
                Display Name: <input type="text" name="displayname" required/><br>
                <input type="submit" value="Sign up"/>
            </form>
        </p>
    </body>
</html>