{%extends"base.htm"%}
{%block bodycontent%}
<section id="banner" class="hobby">
        <div>
            <header>
                <h1 class='sites'>工夫した点</h1>
            </header>
            <div class="content">
                
                <ul class="actions">
                    <a href="#"><span></span><span></span><span></span></a>
                    <span class="scroll">スクロール</span>
                </ul>
            </div>
        </div>
    </section>
    
    <section>
        工夫した点はチャット機能をつけたところとおしゃれなCSSにしたかったので
        アニメーションを使って動きを取り入れてみたところです。チャット機能は
        DataStoreでDBを作ってそこに履歴を書き込むようにしています。またメニューバーとして
        CSSでハンバーガーアイコンをつけました。
        勉強になったところはスマホとPCで画面サイズが違うのでCSSを工夫して書かないと
        いけないところです。pxなど具体的なサイズで位置を指定するのはやめました。
    </section>
{%endblock%}