{%extends"base.htm"%}
{%block bodycontent%}
<section id="banner" class="hobby">
        <div>
            <header>
                <h1 class='sites'>趣味</h1>
            </header>
            <div class="content">
                
                <ul class="actions">
                    <a href="#"><span></span><span></span><span></span></a>
                    <span class="scroll">スクロール</span>
                </ul>
            </div>
        </div>
    </section>
    
    <section>
        <ul class='sites'>
            <li><h2>テニス</h2></li>
            中学校はソフトテニス部に所属していました。
            高校は硬式テニス部に所属していました。
            大学では硬式テニスサークルに入り、ゆるくテニスをしています。<br>
            フェデラー、ナダル、ジョコビッチが好きです。今はVCORE PRO97を使っています。<br>
            <img src="http://www.yonex.co.jp/tennis/racquets/image/vpro97.jpg" width="300" height="300" alt="使用ラケット">
            <li><h2>プログラミング</h2></li>
            2回前期の授業で初めてプログラミングを習って、そこでプログラミングが
            楽しくなったのでいろいろやっています。今はpythonとC++を書いています。JavaScriptも始めました。<br>
            Webアプリにも興味あります。次はJulia,Goを勉強したいです。<br>
            競技プログラミングもやっているのですがコンテスト日に予定が入っていて
            なかなかできていないのでこれから頑張りたいです。<br>
            AtCoderのID:<a href="https://atcoder.jp/users/mumin">mumin</a><br>
            GitHub:<a href="https://github.com/shunya-kato">shunya-kato</a>
        </ul>
    </section>
{%endblock%}