{% extends "base.htm"%}
{%block bodycontent%}
<section id="banner" class="hobby">
        <div>
            <header>
                <h1 class='topics'>興味</h1>
            </header>
            <div class="content">
                
                <ul class="actions">
                    <a href="#"><span></span><span></span><span></span></a>
                    <span class="scroll">スクロール</span>
                </ul>
            </div>
        </div>
    </section>
    
    <section class='topics'>
        <ul>
            <li><h2>機械学習</h2></li>
            2回前期の授業で、CでMNISTを用いてディープラーニングをする機会があり、
            それを機に興味を持ちました。Tensorflow, Keras, Scikit-learnなどを
            触っています。<br>
            kaggleも始めました。今期の授業でも機械学習の授業をとっているので頑張りたいです。<br>
            それにしてもKerasはすごいですね。Cで400~500行ぐらい書いた
            のがたった20行ほどで書けるなんて...<br>
            <!--<img src="keras.png" width="900" height="600" alt="Keras">-->
            <li><h2>通信</h2></li>
            マスタリングTCP/IPとTCP技術入門という本を読みました。TCPの輻湊制御アルゴリズムはすごく面白かったです。IPv6や5G、IoTを
            勉強したいです。
　
        </ul>
    </section>
{%endblock%}